@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  padding: 0 10%;
}

.container-fluid {
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: 300;
}

p {
  color: hsl(233deg, 8%, 62%);
  padding: 35px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(233deg, 8%, 62%);
}

.active {
  display: block !important;
}

.btn-req-inv {
  padding: 15px 35px;
  border-radius: 40px;
  border: none;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
}
.btn-req-inv:hover {
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(233deg, 26%, 24%));
}

.nav-menu {
  background-color: hsl(0deg, 0%, 100%);
  z-index: 2;
  position: absolute;
  width: 100%;
}
.nav-menu .ul-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0;
}
.nav-menu .nav-logo {
  order: 1;
  padding-right: 10%;
}
.nav-menu .nav-item {
  order: 3;
  padding-right: 20px;
}
.nav-menu .nav-item a:hover {
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%)) left bottom hsl(0deg, 0%, 100%) no-repeat;
  background-size: 100% 5px;
  padding-bottom: 20px;
}
.nav-menu .nav-toggle {
  order: 2;
  display: none;
}
.nav-menu .nav-btn {
  order: 4;
  margin: auto;
}

.section-1 {
  background-color: hsl(192deg, 70%, 51%);
}
.section-1 .container {
  background-color: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: row;
  position: relative;
}
.section-1 .container .next-generation-left-bottom .text-content {
  position: relative;
  top: 230px;
}
.section-1 .container .next-generation-right-top .img-phone-section-1 {
  position: relative;
  width: 150%;
  top: 10px;
}

@media (max-width: 767px) {
  body {
    text-align: center;
  }
  .nav-menu {
    position: absolute;
    width: 100%;
  }
  .nav-menu .nav-item {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    display: none;
    position: relative;
  }
  .nav-menu .nav-item a {
    display: block;
  }
  .nav-menu .nav-item a:hover {
    background: none;
    padding-bottom: 0px;
  }
  .nav-menu .nav-toggle {
    display: block;
    position: relative;
    left: 55%;
  }
  .nav-menu .nav-btn {
    display: none;
  }
  .section-1 .container {
    flex-direction: column;
  }
  .section-1 .container .next-generation-left-bottom {
    order: 2;
  }
  .section-1 .container .next-generation-left-bottom .text-content {
    position: relative;
    top: 0;
  }
  .section-1 .container .next-generation-right-top {
    order: 1;
  }
  .section-1 .container .next-generation-right-top .img-phone-section-1 {
    width: 100%;
    top: -95px;
  }
}/*# sourceMappingURL=style.css.map */