.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

// variables primary colors 
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
// variables neutral colors 
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//gradient Color
$gradientColorLimeToCyan: linear-gradient(to right, $lime-green, $bright-cyan);
$gradientColorLimeToDarkBlue: linear-gradient(to right, $lime-green, $dark-blue);
// variables font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;


// ^^^^^^^^^^^^^^^^^^^^ //
//mixins
@mixin bgGradientLight {
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
}
@mixin bgGradientDark {
    background-image: linear-gradient(to right, $lime-green, $dark-blue);
}


// ^^^^^^^^^^^^^^^^^^^^ //

*{//reset values
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html,body{
    // overflow: hidden;
    font-family:'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
.container {
    padding: 0 10%;
}
.container-fluid {
    padding: 0;
}
h1, h2{
    font-weight: $font-weight-300; 
}
h3{
    font-weight: $font-weight-400; 
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
p{
    color: $grayish-blue;
    padding: 35px 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $grayish-blue;
}
.active{ 
    display: block !important;
}
//requestInvitationBtn
.btn-req-inv{ 
    //display: none;
    padding: 15px 35px;
    border-radius: 40px;
    border: none;
    color: $white;
    font-weight: $font-weight-400;
    @include bgGradientLight;
    &:hover{
        @include bgGradientDark;
    }
}
.nav-menu{
    background-color:$white;
    z-index: 2;
    position: absolute;
    width: 100%;
    .ul-menu{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 30px 0;
    }
    .nav-logo{
        order: 1;
        padding-right: 10%;
    }
    .nav-item{
        order: 3;
        padding-right:20px;
        a{
            &:hover{
                background:
                    linear-gradient(to right, $lime-green,$bright-cyan) 
                    left
                    bottom
                    $white
                    no-repeat;
                    background-size: 100% 5px;
                    padding-bottom: 20px;
            }
        }
    }
    .nav-toggle{
        order: 2;
        display:none;
    }
    .nav-btn{
        order: 4;
        margin: auto;
    }
}

.section-1{
    .container{
        background-color: $very-light-gray;
        display: flex;
        flex-direction: row;
        position: relative;
        padding-right: 0;
        //top: 103px;
    
        .next-generation-left-bottom{
            width: 85%;
            .text-content{
                position: relative;
                top: 230px
            }
        }
        .next-generation-right-top{
            background-image: url("/easybank-landing-page-master/images/bg-intro-desktop.svg");
            background-repeat: no-repeat;
            background-size: 60rem;
            background-position-x: -60px;
            background-position-y: -103px;
            width:100%;
            .img-phone-section-1{
                position: relative;
                z-index: 1;
                width: 108%;
                top: 10px;
                left: 65px;
            }
        }
    }
}


.section-2{
    background-color: $light-grayish-blue;
    position: relative;
    bottom: 120px;
    padding-bottom: 30px;
    .container{ 
        padding-top:120px;
        .easybank{
            width:70%;
            padding-bottom: 20px;
        }
        .easybank-service-description{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            div{
                width: 20%;
                .img-easybank-desc{
                    padding-bottom: 25px;;
                }
            }
        }
    }
}


.latest-articles{
    background-color: $very-light-gray;
    position: relative;
    bottom: 120px;
    .container{
        padding-bottom: 100px;
        p{
            padding: 20px 0;
        }
        h2{
            padding-top: 100px;
            padding-bottom: 40px;
        }
        h3{
            &:hover{
                color: $bright-cyan;
            }
        }
        .article-content{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            div{
                width: 23%;
                img{
                    width: 100%;
                }
                .card-content{
                    text-align: left;
                    width: 100%;
                    height: 320px;
                    background-color: $white;
                    padding: 0 20px;
                }
            }
            
        }
    }
}

.footer{
    background-color: $dark-blue;
    padding: 50px 0;
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        a{
            &:hover{
                color: $bright-cyan;
            }
        }
        li{
            margin: 20px 0;
            a{
                color: $white;
                font-weight: $font-weight-400;
            }
        }
        .first-block{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
           
            .logo-footer{
                width: 75%;
                align-self: left;
            }
            .social-media{
                li{
                    display: inline;
                    margin: 0 7px;
                    img{
                        width: 35px;
                    }
                }
            }
        }
       
       .fourth-block{
        text-align: right;
        p{
            font-size:10px;
            padding: 20px 0;
        }
       }
        
    }
}