.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




//import google fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

// variables primary colors 
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
// variables neutral colors 
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//gradient Color
$gradientColorLimeToCyan: linear-gradient(to right, $lime-green, $bright-cyan);


// variables font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;


// ^^^^^^^^^^^^^^^^^^^^ //
//mixins
@mixin bgGradient {
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
}


// ^^^^^^^^^^^^^^^^^^^^ //

*{//reset values
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html,body{
    // overflow: hidden;
    font-family:'Public Sans', sans-serif;
    font-size: 18px;
}
.container {
    padding: 0 10%;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $grayish-blue;
}

.active{ 
    display: block !important;
}
//requestInvitationBtn
.btnReqInv{ 
    display: none;
    padding: 15px 35px;
    border-radius: 40px;
    border: none;
    color: $white;
    font-weight: $font-weight-400;
    @include bgGradient;
}



// -----------//------------//--------------//
// Mobile version
@media (max-width: 767px){
  
}






